@import '../../variables.scss';

.ReactSuperMario {
  .Button {
    transition: left 150ms ease-out;
  }
  .ButtonInfo {
    background: url("../../assets/tiles/objects-and-blocks.png");
    background-position: -164px 334px;
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 2;
    bottom: $groundHeight + 120px;
  }
}